# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# 🎴 𝛫𝑈𝑅𝛩𝛮𝛥 — 𝑿𝛭𝑫 🎴
#  Git Ignore Configuration
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

# Node.js
node_modules/
package-lock.json

# Sessions & Authentification
auth/
auth_info_baileys/
session/
sessions/
*.session.json
*.auth.json

# Builds & Temp
dist/
build/
tmp/
temp/
.cache/

# Environnements
.env


# Git & Updates temporaires
.temp_bot_update/


# Config (local secrets)
*.local.*          # Tous les fichiers de configuration locale (ex: config.local.json, env.local.js)
*.env              # Fichiers d'environnement contenant les variables sensibles
*.credentials.json
